<!DOCTYPE html>
<html>
<head>
<title>Reset Email Sent</title>
<link rel="shortcut icon" href="/static/favicon.ico" />
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<style>
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color:#9AB0E4 ;
  width: 75%;
  margin: 50px auto 0;
}

* {
  box-sizing: border-box;
}

/* Add padding to containers */
.container {
  padding: 16px;
  background-color: white;
}
</style>
<body>
<div class="container">
 {% block title %}Reset your password{% endblock %} 
 {% block content %} 
 <h1>Reset your password</h1> 
 <p>We've emailed you instructions for setting your password.</p> 
 <p>If you don't receive an email, please make sure you've entered the address you registered with.</p> 
 {% endblock %}
</div>
</body>
</html>