{% load static %}
{% include 'donornav.html' %}
<head>
<title> How It Works?</title>
<link rel="shortcut icon" href="/static/favicon.ico" />
<style>
    h3{
      font-size:30px; 
    }
    h1{
      font-size:40px; 
    }
    h5{
      font-size:20px; 
    }
    p{
      font-size:20px; 
    }
</style>
</head>
<div class="content">
    <h1>How it Works?</h1>
    <h3>About this website:</h3><br>
    <p>
    As COVID-19 pandemic is at it's full swing, majority of the people are facing crisis for meeting the daily/basic needs.
    So as to help in the way we could, our team has developed this website for like-minded people around us.
    Here this site will be a medium between the person interested to seek the help and the one interested to help.
    Only wearing a mask or sanitizing can't provide a living for many. Though they are essential, students have to complete there education to get a job, daily wagers have to get a work to feed their family.
    And for all of these many would required a financial aid. And this is the reason, that this website came into existance.
    </p>
    <br>
    <p><h3>Process:</h3>
    <center><img src="{% static 'img/Donor.png' %}" height="800px" width="600px" alt="Donor instructions"></center>
    </p>

</div>